i{% extends "base.html" %}

{% block main %}
    <header>
    <h3>About me</h3>
    <header>
    <b>I am now at <a href="http://riverbed.com">Riverbed Technology</a> in San Francisco</b>
    <p>
    I got my PhD from University of Pisa, Italy in March 2012. <br>
    My primary interests are in energy efficiency for networked systems.  The focus
    of my research is on making the best use of hardware resources to optimize
    energy consumption.  The inherent idle times in datacenter workloads and in
    network traffic can be exploited to make each node in the network save power.
    My studies focus on software strategies to exploit hardware low-power modes and
    on the evaluation of Hybrid architectures that mixes low power and high
    performance processors. <br>
    See my <a href="./papers">papers</a> for more details.
    </p>
    <p>
    I have spent 9 months as a Research Intern at 
    <a href="http://berkeley.intel-research.net/people/">Intel Research Berkeley</a> 
    in fall 2009 and from September 2010 to March 2011, working with Dott. Gianluca Iannaccone.
    </p>
    <p>
    From August 2011 to February 2012 I have been a visiting student in the EECS department at the University of
    California, Berkeley, under the supervision of Prof. <a href="http://www.eecs.berkeley.edu/Faculty/Homepages/ratnasamy.html">Sylvia Ratnasamy</a>.
    </p>
    <header>
    <h3>Timeline</h3>
    </header>
    <p>
    <img class="infographic" src="{{ static_url('img/infographics/timeline.png') }}">
    </p>

{% end %}


